.main {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    padding: 20px;
}

.button {
    height: 60px !important
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}