.main {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    
}

.cardUl {
    list-style-type: none;
    padding:0;
}

.list {
    border: 1px solid black;
    list-style: none;
    padding-inline-start: 0px;
}